extends layout

block content
	#{title}
	#{title} welcome to #{title}
	div
	each post, index in posts
		p #{post.title}
		|作者:
		a(href='#') #{post.name}
		|日期:
		#{post.time.minute}
		p #{post.post}	